/* Fichier CSS à utiliser pour modifier la mise en page du projet de la Secte du Concombre Sacré */
.navbar {
    padding: 0.0rem;
}

.main_nav_design {
    text-align: left;
    background-color: #a98d1c;
}

.navbar-nav li {
    padding-right: 35px;
}

.nav-link {
    font-size: 1.7em !important;
    width: 100%;
}

/* essai de réduction de la taille des éléments du menu déroulant - mais ça ne marche pas */
.sous-menu ul li a {
    font-size: 0.2rem;
}

.menu_button {
    position: absolute;
    margin: 1%;
    background-color: rgb(37, 36, 36);
    padding: 1%;
    scroll-padding-left: 5%;
    font-family: Cinzel;
    font-weight: bold;
}

.button_hover:hover {
    font-style: oblique;
    padding-left: 3%;
}

/*-----------FOOTER--------*/
.footer-background {
    background-color:  rgb(37, 36, 36);
    color: white;
}

.footer-text {
    color: white;
    text-decoration: none;
    font-family: 'Quattrocento', serif;
}

.footer-text a:hover {
    color: #a98d1c;
    text-decoration: none;
}

.footer-text ul li p a:hover {
    color: #a98d1c;
    text-decoration: none;
}

.footer-copyright-background {
    background-color: rgb(29, 27, 27);
    text-decoration: none;
    color:rgb(73, 73, 73);
    font-family: 'Quattrocento', serif;
}

.footer-copyright-background a:hover{
    color: #a98d1c;
    text-decoration: none;
}

.facebook {
    margin-left:-4%;
    margin-right:2%;
}

.youtube {
    margin-left:-4%;
    margin-right:1%;
}

.logo-contact{
    margin-bottom: 5px;
}

.citation {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'Quattrocento', serif;
}
/*-----------fin des sélecteurs de style de FOOTER--------*/

.nav-background-login{
    background-color: rgba(52, 209, 86, 0.6);

}

.contour_contenu {
    padding: 2%;
    margin-top:5%;
}

.h1_tab {
    padding-bottom: 5%;
    text-align: center;
}

.input_disposition{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.middle-centering {
    margin-top: auto;
    margin-bottom: auto;
}

.slogan {
    margin-top: 15%;
    font-weight: bold;
    font-style: italic;
}

.p-bottom {
    padding-bottom: 5%;
}

.free_centering {
    margin-top: 5%;
    margin-left: 4%;
}

.jumbotron{
    padding-top: -30%;
    padding-bottom: -30%;
}

.couleur-banniere {
    background-color: rgb(37, 36, 36); /* j'ai mis du gris en couleur de fond de bannière, c'est plus soft sinon il y a trop de couleurs partout*/
    color: #4AFF72;
    padding: 1%;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

}

.logo-title { /* j'ai réglé la taille du logo dans la barre de navigation tout en haut de la page*/
    width:4%;
}

.image_banniere {
    position: relative;
}

.button_menu{
    margin-left: 2%;
    margin-top:2%;
    background-color: rgb(37, 36, 36);
}

.navigation-menu {
    margin-bottom: 0;
    background-color: #a98d1c;
}

.navigation_bar {
    padding-top: 8%;
    padding-left: 5%;
    font-family: Cinzel;
    color: white;
    background-color: rgb(37, 36, 36);
}

.thick-border {
    border-left: solid #B9ACA6 0.1rem;
}

.site-background {
    background-color:#1d300d; /* j'ai mis du vert foncé sur le second arrière-plan du site*/
    font-family: Quattrocento;
}

.section-background {
    background-color: #a98d1c; /* j'ai mis la couleur or sur le premier arrière-plan du site*/
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 2%; /* j'ai mis un padding bottom au premier arrière-plan du site pour qu'il y ai un espacement entre cette partie principale et le footer*/
}

h1 {
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive; /* j'ai ajouté la police d'écriture aux titres principaux*/
}

h2 {
    color: white;
    padding-bottom: 2%;
    font-weight: bold;
    text-decoration: underline #7a6614;
    padding-left: 5%;
    font-family: 'Cinzel', serif; /* j'ai ajouté la police d'écriture aux titres de second rang*/
}

.text-paragraph {
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    top: 50%;
    padding-top: 0%;
    padding-bottom: 10%;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.img_concombre {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.testifier {
    padding-bottom: 2%;
    margin-left: 4%;
    margin-top: 5%;
    text-decoration: underline;
    font-weight: bold;
    color: rgba(238, 234, 214, 0.829);
    font-style: italic;
}

.jungiste {
    margin-left: auto;
    margin-right: auto;
}

.testing {
    margin-left: auto;
    margin-right: auto;
}

.testimony_paragraph_align {
    margin-left: auto;
    margin-right: auto;
}

#page /*--centre le contenu----*/
{
	width: 50%;
	margin: auto; 
}

/*-----------page CONCOMTEME--------*/
/*--tous ces styles ont été ajouté pour la page concomteme, vous devriez reprendre les sélecteurs 
.testimony_paragraph_align p pour les paragraphes que vous avez 
et le sélecteur #titre-slogan pour les phrases slogans de vos pages--*/

#principe {
    padding-top: 4%;
}

#origine{
    text-align: right;
    padding-right: 5%;
}

#prerequis{
    text-align: right;
    padding-right: 5%;
}

.testimony_paragraph_align p {
    text-indent: 15%;
    font-family: 'Quattrocento', serif;
}

.about-image {
    animation: slideDown 7s;
    animation-iteration-count:infinite;
}

@keyframes slideDown {
    0%{
        transform: translateX(20%);
        opacity:0;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}

.about-image-reverse {
    animation: slideDown-reverse 7s;
    animation-iteration-count:infinite;
}

@keyframes slideDown-reverse {
    0%{
        transform: translateX(-20%);
        opacity:0;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}

#titre-slogan {
    color: #7a6614;
    font-size: 3.5rem;
    margin: 2rem;
    padding-top: 2%;
    text-shadow: 0.15rem 0.15rem 0.15rem white;
}

/*-----------page BONNESOEUVRES--------*/

.soutient-margin {
    margin-right: 4%;
    margin-left: 4%;
    padding-top: 8%;

}

.btn-don {
    margin-left: 35%;
    margin-right: 35%;
}

.card
{
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10%;	
}

.contribuer_button
{
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 5%;
    font-weight: bold;
}

.section-retribution-margin{
    padding-top: 4%;
    margin-right: auto;
    margin-left: auto;
}

.titre-contribution
{
    margin-top: 2%;
    padding-top: 10%;
}

/*----------page LIBEREZ VOUS-----------*/

#nom
{
	width: 60%;
}

.container-formulaire-libérez
{
	margin-top: 10%;
	margin-bottom: 10%;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*---------page LOGIN ---------------*/

#button-login
{
	margin-top: 4%;
}

#Identifiant, #password_id
{
	width: 40%;
}

.identifiant
{
    width: 550%;
        
}

#nom_login
{
    width: 100%;
    
}

/*------------page WELCOME---------------*/

.p1_welcomepage
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: justify;
}

.titre_temoignages
{
    padding-left: 10%;
    padding-top: 2%;
}


/*---responsive---*/

@media (max-width: 575.98px)
{
    
    
    section img
    {
        display: none;
    }
    .p1_welcomepage
    {
        width: 100%;
    }

   
    p
    {
        width: 100%;
    }

    
}