/* Fichier CSS à utiliser pour modifier la mise en page du projet de la Secte du Concombre Sacré */
.navbar {
    padding: 0.0rem;
}

.navbar-nav li {
    padding-right: 15px;
}

.nav-link {
    font-size: 1.5em !important;
    width: 100%;
}

.footer-background {
    background-color:  rgb(37, 36, 36);
    color: white;
}

.footer-text {
    color: white;
    text-decoration: none;
}

.footer-text a:hover {
    color: olive;
    text-decoration: none;
}

.footer-text ul li p a:hover {
    color: olive;
    text-decoration: none;
}

.footer-block{
    
}

.footer-copyright-background {
    background-color: rgb(29, 27, 27);
    text-decoration: none;
    color:rgb(73, 73, 73);
}

.footer-text a:hover {
    color: olive;
    text-decoration: none;
}

.facebook {
    margin-left:-4%;
    margin-right:2%;
}

.youtube {
    margin-left:-4%;
    margin-right:1%;
}

.logo-contact{
    margin-bottom: 5px;
}

.citation {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 3rem;
}



.nav-background-login{
    background-color: rgba(52, 209, 86, 0.6);

}

.contour_contenu {
    padding: 2%;
    margin-top:1%;
}

.h1_tab {
    padding-bottom: 5%;
    text-align: center;
}

.input_disposition{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.middle-centering {
    margin-top: auto;
    margin-bottom: auto;
}

.slogan {
    margin-top: 15%;
    font-weight: bold;
    font-style: italic;
}

.p-bottom {
    padding-bottom: 5%;
}

.free_centering {
    margin-top: 5%;
    margin-left: 4%;
}

.jumbotron{
    padding-top: -30%;
    padding-bottom: -30%;
}


.position-entete
{
    position: absolute;
    top: 0%;
}

.couleur-banniere {
    background-color: rgba(52, 209, 86);
    color: #4AFF72;
    padding-bottom: 0.8%;
}

.logo-title {
    width:4%;
}

.image_banniere {
    position: relative;
    top: 13%
}

.navigation-menu {
    margin-top: 4%;
}

.thick-border {
    border-left: solid #B9ACA6 0.1rem;
}

.section-background {
    background-color: rgba(52, 209, 86, 0.6);
    border-top: solid rgba(27, 110, 45);
    border-bottom: solid rgba(27, 110, 45);
    padding-top: 2%;
    margin-top: 5%;
}

h2 {
    padding-bottom: 2%;
    font-weight: bold;
    text-decoration: underline rgba(27, 110, 45);
    padding-left: 5%;
}

.text-paragraph {
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    top: 50%;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.img_concombre {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}


.testifier {
    padding-bottom: 2%;
    margin-left: 4%;
    margin-top: 5%;
    text-decoration: underline;
    font-weight: bold;
    color: #28993E;
    font-style: italic;
}


.jungiste {
    margin-left: auto;
    margin-right: auto;
}

.testing {
    margin-left: auto;
    margin-right: auto;
}



.testimony_paragraph_align {
    margin-left: auto;
    margin-right: auto;
}





#page /*--centre le contenu----*/
{
	width: 50%;
	margin: auto; 
	
}

/*-----------page BONNESOEUVRES--------*/

.card
{
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10%;	
}




#contribuer_button
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.titre-contribution
{
	margin-top: 10%;
}


/*----------page LIBEREZ VOUS-----------*/

#nom
{
	width: 60%;
}

.container-formulaire-libérez
{
	margin-top: 10%;
	margin-bottom: 10%;
}


.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/*---------page LOGIN ---------------*/

#button-login
{
	margin-top: 4%;
}

#Identifiant, #password_id
{
	width: 40%;
}

.citation
{
	font-style: italic;
}

/*------------page LOGIN ---------------*/


