/* Fichier CSS à utiliser pour modifier la mise en page du projet de la Secte du Concombre Sacré */

.footer-background {
    background-color:  rgb(37, 36, 36);
    color: white;
}

.footer-text {
    color: white;
    text-decoration: none;
}

.footer-text a:hover {
    color: olive;
    text-decoration: none;
}

.footer-text ul li p a:hover {
    color: olive;
    text-decoration: none;
}

.footer-block{
    margin-left: ;
}

.footer-copyright-background {
    background-color: rgb(29, 27, 27);
    text-decoration: none;
    color:rgb(73, 73, 73);
}

.footer-text a:hover {
    color: olive;
    text-decoration: none;
}

.facebook {
    margin-left:-4%;
    margin-right:2%;
}

.youtube {
    margin-left:-4%;
    margin-right:1%;
}

.logo-contact{
    margin-bottom: 5px;
}

.citation {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

